/*
 * G1 - Web Application
 * --------------------
 * @autor: CGJ Arte G1
*/


/*=====================
 * DEFINITIONS
 *=====================*/

body {
    font-family: 'opensans-regular-webfont';
    color: #6b6b6b;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


/*=====================
 * APP
 *=====================*/

.app {
    min-height: 1000px;
}


/*=====================
 * CONTAINER
 *=====================*/

.container {
}

/*=====================
 * HEADER
 *=====================*/

.header{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header .title{
    font-family: 'ProximaNova-Bold';
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
.header .sub-title{
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 18px;
}

/*=====================
 * CREDITS
 *=====================*/

.credits {
    padding: 30px 15px;
    background: #ffffff;
    border-top: 1px solid #EFEFEF;
}
.credits .related {
    margin-bottom: 20px;
}
.credits .related a {
    font-family: 'opensans-light-webfont';
    font-size: 14px;
    color: #a80000;
    padding: 0 8px 0 12px;
    border-left: 1px solid #666;
}
.credits .related a:first-child {
    padding: 0 8px 0 0;
    border-left: 0
}
.credits .related a:hover {
    text-decoration: underline;
}
.credits .names {
    margin: 0;
}
.credits .names  dt,
.credits .names  dd{
    font-family: 'opensans-light-webfont';
    font-size: 14px;
}

/*=====================
 * INFO
 *=====================*/

.info {
    height: 32px;
    padding: 0;
    margin-bottom: 10px;
}
.info .published-in{
    color: #999999;
    height: 100%;
    line-height: 32px;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
    margin-right: 5px;
}
.info .share {
    float: right;
}
.info .share .link {
    border-radius: 20px;
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    width: 32px;
    height: 31px;
    float: left;
    margin-right: 5px;
}
.info .share .link.facebook {
    background: none repeat scroll 0 0 #3b5998;
}
.info .share .link.twitter {
    background: none repeat scroll 0 0 #00aced;
}
.info .share .link.googleplus {
    background: none repeat scroll 0 0 #cb2027;
}
.info .share .link.whatsapp {
    display: none; background: #64D448;
}

/*=====================
 * SCROLL-UP
 *=====================*/

.scroll-up {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 25px;
    right: 20px;
    color: #FFF;
    text-align: center;
    background-color: #A80000;
    padding: 7px !important;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1;
}
.scroll-up i{
    line-height: 0;
    color: #FFF;
}
.scroll-up:hover,
.scroll-up:active,
.scroll-up:focus{
    background-color: #A80000;
    color: #A80000;
}



/*=====================
 * RESPONSIVE
 *=====================*/

@media (max-width: 430px) {
.header .title{
    font-size: 23px
}
.header .sub-title{
    font-size: 14px
}
.info .published-in{
    font-size: 10px;
}
.info .share .link {
    margin-right: 3px;
}
}

@media (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media all and ( min-width: 768px ) and ( max-width: 1240px ) {

}

@media (min-width: 1240px) {

}
